@import url("https://use.typekit.net/iom7tmt.css");


:root{
    --amarelo: #FFC74BF6;
    --cinza: #E2E1DE;
    --branco:#ffff;
    --preto: #000;
    
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFC74B;
    background: linear-gradient(45deg,rgba(255, 199, 75, 1) 0%, rgba(255, 255, 255, 1) 90%);
}

input {
    height: 40px;
}

label {
    font-size: 1.7rem;
}

h1 {
    font-size: 2vw;
    text-align: center;
}

h2 {
    font-size: 2rem;
    width: 60%;
    text-align: center;
    margin-bottom: 4%;
    color: var(--branco);
}

.container {
    width: 80vw;
    height: 85vh;
    display: flex;

    flex-direction: row;
    box-shadow: 5px 5px 20px black;
}


.container button {
    height: 60px;
    background-color: var(--amarelo);
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem 0.9rem;
    transition: all 0.3s ease;
}

.left-side {
    width: 53%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    background-image: url(../img/login-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-side h1 {
    color: var(--branco);
    text-align: center;
    width: 70%;
    margin-bottom: 3%;
    margin-top: 15%;
}

.left-side span {
    width: 80%;
    display: flex;
    align-items: end;
    margin-top: 5%;
    align-items: center;
}

.left-side span a {
    color: var(--amarelo);
    font-size: 1.5rem;
}

.rigth-side {
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--branco)
}

.rigth-side a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rigth-side button {
    margin-top: 10%;
}

.rigth-side h1 {
    margin-top: 5%;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
}

.input-container input {
    padding: 0 2%;
}

.logo-img {
    width: 85%;
    margin-top: -5%;
}

.text-underline {
    display: inline;
    border-bottom: 3px solid var(--amarelo);
    margin-top: -500px;
}

.container button:hover {
    background: #fdb00a;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transform: translateY(8px);
}

@media screen and (max-width: 1294px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .logo-img {
        width: 75%;
        margin-top: 0;
    }
    input {
        height: 35px;
    }
    .container button {
        height: 45px;
        background-color: var(--amarelo);
        border: 0;
        font-size: 1.4rem;
    }
    label {
        font-size: 1.1rem;
    }
    .left-side span a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .left-side {
        display: none;
    }

    .rigth-side {
        width: 100%;
    }
}

/*-----------------------AGUARDAR-------------------------------------*/

#section_aguardar img {
	width: 6rem;
	height: fit-content;
	position: relative;
}

.quadrado{
	background-color: var(--azul);
	padding: 4rem;
	position: relative;
	border-radius: 10px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

#section_aguardar .borda_aguardar {
	position: absolute;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 0.2rem solid var(--amarelo);
	border-top-color: var(--preto);
	animation: linear infinite 1s aguardar;
}

@keyframes aguardar {
	100% {
		transform: rotate(360deg);
	}
}

#section_aguardar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.379);
	justify-content: center;
	align-items: center;
}

#section_erros_login {
	display: none;
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	background-color: var(--preto);
	color: var(--amarelo);
	padding: 2rem;
}