@import url("https://use.typekit.net/iom7tmt.css");

:root {
    --amarelo: #ffc64b;
    --amareloOpacityLow: #ffc64bb7;
    --cinza: #E2E1DE;
    --branco: #ffff;
    --preto: #000;
    --cinzaEscuro: #1c1c1c;
    --cinzaHeader: #222;
    --cinzaDash: #181818;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cinza);
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}


section.header .header-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: var(--cinzaHeader);
    padding: 20px 0;
    text-align: center;
}

section.header .header-left .parte-cima {
    padding: 40% 0;
}

section.header .header-left .parte-baixo {
    padding: 10% 0
}

section.header .header-left .icone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7% 0;
}

section.header .header-left .descricao-icone {
    color: var(--branco);
    align-content: center;
    padding: 0 10px;
}

section.header .header-left .icone img {
    height: 25px;
    width: auto;
    display: flex;
    padding: 0 15px;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a {
    width: 100%;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a:hover {
    background-color: var(--amarelo);
    color: var(--preto);
    padding: 10px;
}

section.header .header-left .icone a:hover img {
    filter: brightness(0);
}

* { box-sizing: border-box; }


.container {
    margin-left: 230px;    
    width: calc(100% - 230px);
    height: 100vh;
    padding: 20px;
   
}


.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;            
    overflow: hidden;
    padding: 0;
}

.container-grafico{
 width: 100%;
 height: 60%;
 display: flex;
 flex-direction: row;
}

.container-kpi{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.grafico-previsao{
    width: 80%;
    height: 95%;
      margin: 10px;
    background-color: var(--cinzaDash);
    border-radius: 20px;
}

.container-canva{
width: 97%;
    height: 80%;
     margin: 10px;
     display: flex;
     flex-direction: row;
}

.lista-regiao{
    width: 20%;
    height: 95%;
      margin: 10px;
    background-color: var(--cinzaDash);
       border-radius: 20px;
}

.grafico-comparacao{
 width: 40%;
    height: 95%;
      margin: 10px;
   background-color: var(--cinzaDash);
      border-radius: 20px;
}

.grafico-horarioDePico{
 width: 40%;
    height: 95%;
      margin: 10px;
    background-color: var(--cinzaDash);
       border-radius: 20px;

}

.descicao-regiao{
 width: 20%;
    height: 95%;
      margin: 10px;
    background-color: var(--cinzaDash);
       border-radius: 20px;
}

.card-dash{
    background-color: #fff;
    width: 100%;
    height: 15%;
    border-radius: 20px;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
            
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center var(--cinzaDash);
}