@import url("https://use.typekit.net/iom7tmt.css");

:root {
  --amarelo: #ffc64b;
  --amareloOpacityLow: #ffc64bb7;
  --cinza: #E2E1DE;
  --branco: #ffff;
  --preto: #000;
  --cinzaEscuro: #1c1c1c;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--cinza);
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

section.header .header-left {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 270px;
  background-color: var(--preto);
  padding: 20px 0;
  text-align: center;
}

section.header .header-left .parte-cima {
  padding: 40% 0;
}

section.header .header-left .parte-baixo {
  padding: 10% 0
}

section.header .header-left .icone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7% 0;
}

section.header .header-left .descricao-icone {
  color: var(--branco);
  align-content: center;
  padding: 0 10px;
}

section.header .header-left .icone img {
  height: 35px;
  width: 35px;
  display: flex;
  padding: 0 15px;
  transition: all 0.3s ease;
}

section.header .header-left .icone a {
  width: 100%;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  transition: all 0.3s ease;
}

section.header .header-left .icone a:hover{
  background-color: var(--amarelo);
  color: var(--preto);
  padding: 10px;
}

section.header .header-left .icone a:hover img {
  filter: brightness(0);
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .container-content{
  background-color: var(--branco);
  height: 80vh;
  width: 100vh;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .container-content .content-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vh;
  gap: 1vh;
}

.container .container-content .content-top .div-nome, input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3vh;
  background-color: var(--cinza);
  border-radius: 0.5vh;
  border: none;
  padding: 2vh;
}

.container .container-content .content-top label{
  align-self: flex-start;
}

.container .container-content .content-top .div-nome img{
  width: 4vh;
}