@import url("https://use.typekit.net/iom7tmt.css");

:root {
    --amarelo: #ffc64b;
    --amareloOpacityLow: #ffc64bb7;
    --cinza: #E2E1DE;
    --branco: #ffff;
    --preto: #000;
    --cinzaEscuro: #1c1c1c;
    --cinzaHeader: #222;
    --cinzaDash: #181818;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cinza);
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}


section.header .header-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: var(--cinzaHeader);
    padding: 20px 0;
    text-align: center;
}

section.header .header-left .parte-cima {
    padding: 40% 0;
}

section.header .header-left .parte-baixo {
    padding: 10% 0
}

section.header .header-left .icone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7% 0;
}

section.header .header-left .descricao-icone {
    color: var(--branco);
    align-content: center;
    padding: 0 10px;
}

section.header .header-left .icone img {
    height: 25px;
    width: auto;
    display: flex;
    padding: 0 15px;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a {
    width: 100%;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a:hover {
    background-color: var(--amarelo);
    color: var(--preto);
    padding: 10px;
}

section.header .header-left .icone a:hover img {
    filter: brightness(0);
}


section.header .header-left .container-submenu {
  position: relative;
  padding: 7% 0;
}

.submenu {
  position: absolute;
  left: 100%;
  top: 16%;
  background-color: var(--cinzaHeader);
  border: 1px solid var(--amarelo);
  width: 250px;
  z-index: 10;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.submenu a {
  color: var(--branco);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  display: block;
  transition: background-color 0.2s ease;
}

.submenu a:hover {
  background-color: var(--amarelo);
  color: var(--preto);
  padding: 10px 20px;
}

section.header .header-left .container-submenu:hover .submenu {
  opacity: 1;
  visibility: visible;
}

* { box-sizing: border-box; }


.container {
    margin-left: 230px;    
    width: calc(100% - 230px);
    height: 100vh;
    padding: 20px;
   
}


.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;            
    overflow: hidden;
    padding: 0;
}

.container-grafico{
 width: 100%;
 height: 60%;
 display: flex;
 flex-direction: row;
}

.container-kpi{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.container-kpi-mini{
    width: 20%;
    height: 95%;
    display: flex;
   flex-direction: column-reverse;
    gap: 10px;
    margin: 5px;
}

.container-canva{
    width: 97%;
    height: 80%;
     margin: 10px;
     display: flex;
     flex-direction: row;
         align-items: center;
     justify-content: center;
}

.container-canva-kpi p {
color: var(--cinza);
margin-right:10px ;
font-size: small;

}



.container-canva-kpi{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: -40%;
     display: flex;
     flex-direction: row-reverse;
              align-items: center;
     justify-content: center;
 }

.container-grafico-previsao{
    width: 100%;
    height: 98%;
      display: flex;
     flex-direction: column;
}

.grafico-previsao{
    width: 80%;
    height: 95%;
      margin: 10px;
    background-color: var(--cinzaDash);
    border-radius: 20px;
}

.card-lista-regiao{
     border-radius: 20px;
     border-top-left-radius: 0%;
      border-top-right-radius: 0%;
     
     width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
     display: flex; 
     flex-direction: column;
    overflow-x: auto; 
    width: 100%;
}
.container-card-regiao {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  text-align: justify;
  background-color: #181818;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid #e2e1de9c;
  border-top: 2px solid #e2e1de9c;
  color: #E2E1DE;
    overflow-x: auto; 
  white-space: nowrap; 
  &::-webkit-scrollbar {
    display: none;
  }
}

.container-card-regiao:hover {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  text-align: justify;
  background-color: #815f1565;
  border-bottom: 2px solid #ffc64b;
  border-top: 2px solid #ffc64b;
  color: #E2E1DE;
    overflow-x: auto; 
  white-space: nowrap; 
  &::-webkit-scrollbar {
    display: none;
  }
}

  


.container-card-regiao p{
   margin-left: 10px;
}


.lista-regiao{
    width: 20%;
    height: 100%;
      margin: 10px;
    background-color: var(--cinzaDash);
       border-radius: 20px;
       display: flex;
       flex-direction: column;
}
.kpi{
    width: 100%;
    height: 100%;
    background-color: var(--cinzaDash);
    border-radius: 20px;
}




.grafico-horarioDePico{
 width: 60%;
    height: 95%;
      margin: 10px;
    background-color: var(--cinzaDash);
       border-radius: 20px;

}

.descicao-regiao{
 width: 20%;
    height: 95%;
      margin: 10px;
    background-color: var(--cinzaDash);
       border-radius: 20px;
}

.card-dash{
    background-color: #fff;
    width: 100%;
    height: 12%;

    border-radius: 20px;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center var(--cinzaDash);
}

.card-dash-kpi{
    background-color: #fff;
    width: 100%;
    height: 20%;

    border-radius: 20px;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center var(--cinzaDash);
    font-size: 15px;
}