@import url("https://use.typekit.net/iom7tmt.css");

:root {
  --amarelo: #ffc64b;
  --amareloOpacityLow: #ffc64bb7;
  --cinza: #E2E1DE;
  --branco: #ffff;
  --preto: #000;
  --cinzaEscuro: #1c1c1c;
}

* {
  margin: 0;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/*Header*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: var(--branco);
  width: 100%;
  z-index: 5;
}

.dentroHeader{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 2.5%;
  background-color: var(--branco);
  z-index: 5;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5%;
  justify-content: space-around;
  flex-wrap: wrap; /* evita quebra feia em telas menores */
  background-color: var(--branco);
  width: 100%;
  z-index: 5;
}

.nav li {
  font-size: 100%;
  text-align: center;
  width: auto;
}

.nav li a {
  text-decoration: none;
  color: var(--preto);
}

.nav li a:hover {
  display: inline-block;
  background: var(--amareloOpacityLow);
  color: var(--preto);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  
}

.nav li a.btn {
  display: inline-block;
  background: var(--amarelo);
  color: var(--preto);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  
}

.nav li a.btn:hover {
  background: #fdb00a;
  transform: translateY(-8px);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transition: 0.3s;
}

.logo {
  width: 10%;
  z-index: 0;
}

.menu-hamburguer {
  display: none;
  position: absolute;
  right: 1%;
  z-index: 4;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  position: relative;
}

.menu {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}

.menu {
  list-style: none;
  background-color: #000;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.menu li {
  margin: 20px 0;
  
}

.linha {
  height: 4px;
  background: var(--amarelo);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgb(0, 0, 0);
  transform: scale(0);
  transition: transform 0.2s ease-in-out  ;
  z-index: 2;
}
#menu-toggle:checked + .menu-icon .linha:nth-child(1) {
  transform: rotate(45deg) translate(13px, 13px);
}

#menu-toggle:checked + .menu-icon .linha:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-icon .linha:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#menu-toggle:checked ~ .overlay {
  transform: scale(1);
}

/*Slogan*/
.slogan {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
  url("../assets/imgs-Index/Background-Institucional.png") no-repeat center center/cover;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--branco);
  padding: 5%;
}

.container-slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
}

.slogan h2 {
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 2%;
}

.slogan p {
  font-size: 200%;
  margin-bottom: 2.5%;
  color: var(--amarelo); 
  width: 80%;
}

.slogan .btn {
  display: inline-block;
  background: var(--amarelo);
  color: var(--preto);
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.slogan .btn:hover {
  background: #fdb00a;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transform: translateY(-8px);
}

/*Sobre nossa empresa*/
.sobre {
  width: 100%;
}

.sobre .container-sobre {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5%;
  gap: 5%;
  flex-wrap: wrap;
}

.sobre-esquerda {
  flex: 1;
  min-width: 280px;
}

/* .sobre-esquerda::after {
    content: "";
    position: absolute;
    top: 130%;
    width: 0.2%;
    right: 50%;
    height: 130%;
    background: var(--preto);
} */

.abaixo-esquerda{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 10%;
}
.abaixo-esquerda img{
  width: 80%;
  border-radius: 10%;
}

.sobre-esquerda h2 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 5%;
  position: relative;
}

.sobre-esquerda h2::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 10%;
  width: 1%;
  height: 100%;
  background: #f4b41a;
}

.sobre-esquerda p {
  margin-bottom: 8%;
  color: #333;
  line-height: 1.5;
  font-size: 1em;
}

.sobre-esquerda .btn {
  display: inline-block;
  background: var(--amarelo);
  color: var(--preto);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.sobre-direita {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  
}

.sobre-direita h3 {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.5em;
  margin-bottom: 10%;
  font-weight: bold;
}

.sobre-direita h3::after {
  content: "";
  display: block;
  width: 30%;
  height: 0.3em;
  background: #f4b41a;
  margin-top: 2%;
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.item h4 {
  font-size: 1.2em;
  margin-bottom: 2%;
  font-weight: bold;
}

.item p {
  font-size: 0.9em;
  color: #444;
  line-height: 1.4;
}

.item .card{
  width: 50%;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  text-align: justify;
  
}

/*Clientes*/
.clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding: 5% 10%;
  background: linear-gradient(to bottom, var(--branco), #696969);
  text-align: center;
}

.clientes h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.clientes h2 span {
  display: inline-block;
  width: 0.4rem;
  height: 4rem;
  background: #f4b41a;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3%;
  row-gap: 2rem;
  margin-bottom: 3%;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 0.8rem;
  padding: 2rem;
  width: 25%;
  
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  text-align: justify;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}

.clientes a.btn {
  display: inline-block;
  background: var(--amarelo);
  color: var(--preto);
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.clientes a.btn:hover {
  background: #fdb00a;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transform: translateY(-8px);
  transition: 0.3s;
}

/*Footer*/
footer {
  background-color: #fff; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-container a {
 text-decoration: none;
 color: #000;
  
}

.footer-col {
  flex: 1;
  text-align: center;
}

.footer-col.logo img {
  max-width: 40%;      
  height: auto;
}

/*Responsividade*/
@media (max-width: 1047px) {
  .sobre-esquerda::after {
    display: none;
}
  .slogan h2 {
     font-size: 220%; 
    }
  .slogan p {
     font-size: 150%; 
    }
  .sobre .container-sobre {
     flex-direction: column; text-align: center; 
    }
  .sobre-esquerda h2::before {
     display: none; 
    }
  .item {
     flex-direction: column; align-items: center; 
    }
  .card {
     width: 45%; 
    }
}

@media (max-width: 768px) {
  .nav{
    height: 3rem;
  }

  .nav .logo{
    width: 6rem;
    height: 3rem;
  }

  .container {
    height: 3rem;
  }

  .menu-hamburguer {
    width: 100%;
    display: block;
    position: absolute;
    left: 1%;
    z-index: 4;
  }

  .nav li a {
  color: var(--amarelo);
  
  }

  .dentroHeader{
  display: none;
  }
  
  .slogan h2 {
     font-size: 180%; 
    }
  .slogan p {
     font-size: 120%; width: 100%; 
    }
  .card {
     width: 100%; 
    }
  .footer-container {
     gap: 1rem; 
    }
  .footer-col.logo img {
     max-width: 60%; 
    }
}
