@import url("https://use.typekit.net/iom7tmt.css");

:root {
    --amarelo: #ffc64b;
    --amareloOpacityLow: #ffc64bb7;
    --cinza: #E2E1DE;
    --branco: #ffff;
    --preto: #000;
    --cinzaEscuro: #1c1c1c;
    --cinzaHeader: #222;
    --cinzaDash: #181818;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cinza);
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Header */

section.header .header-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: var(--cinzaHeader);
    padding: 20px 0;
    text-align: center;
}

section.header .header-left .parte-cima {
    padding: 40% 0;
}

section.header .header-left .parte-baixo {
    padding: 10% 0
}

section.header .header-left .icone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7% 0;
}

section.header .header-left .descricao-icone {
    color: var(--branco);
    align-content: center;
    padding: 0 10px;
}

section.header .header-left .icone img {
    height: 25px;
    width: auto;
    display: flex;
    padding: 0 15px;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a {
    width: 100%;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a:hover {
    background-color: var(--amarelo);
    color: var(--preto);
    padding: 10px;
}

section.header .header-left .icone a:hover img {
    filter: brightness(0);
}


section.header .header-left .container-submenu {
  position: relative;
  padding: 7% 0;
}

.submenu {
  position: absolute;
  left: 100%;
  top: 16%;
  background-color: var(--cinzaHeader);
  border: 1px solid var(--amarelo);
  width: 250px;
  z-index: 10;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.submenu a {
  color: var(--branco);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  display: block;
  transition: background-color 0.2s ease;
}

.submenu a:hover {
  background-color: var(--amarelo);
  color: var(--preto);
  padding: 10px 20px;
}

section.header .header-left .container-submenu:hover .submenu {
  opacity: 1;
  visibility: visible;
}

* { box-sizing: border-box; }


.container {
    margin-left: 230px;    
    width: calc(100% - 230px);
    height: 100vh;
    padding: 20px;
   
}


.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;            
    overflow: hidden;
    padding: 0;
}


.kpis { 
    display: grid;
    grid-template-columns: 30% 30% 35%;
    grid-template-rows: 140px 140px;
    gap: 24px;     
    width: 100%;
}


.lista { 
    grid-column: 3;
    grid-row: 1 / span 2;
}

.operacao { grid-column: 1; grid-row: 1; }
.alertas  { grid-column: 2; grid-row: 1; }
.impacto  { grid-column: 1; grid-row: 2; }
.vida     { grid-column: 2; grid-row: 2; }

.kpi {
    background-color: #222222;
    border-radius: 12px;
    padding: 12px;
}


.dashboards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 0;
    height: calc(100% -  (140px * 2) - 40px); 
    min-height: 220px;
}

.dashboard {
    background-color: #222222;
    width: 50%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.chart1{
    background-color: #222222;
    width: 45%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

/* conteudo operação */

.kpi {
    background-color: #222222;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #f3f3f3;
}

.kpi-header {
    background-color: #f3f3f3;
    padding: 10px 10px;
}

.kpi-header h2 {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.kpi-header p {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.operacao .kpi-body {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.kpi-status-operacao{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 5px;
}


.kpi-body img {
    width: 60px;
    height: 60px;
}

.kpi-body h3 {
    font-size: 22px;
    font-weight: 700;
}

.kpi-footer {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lista .kpi-footer {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.kpi-footer p{
    font-size: 12px;
    margin-bottom: -2px;
}

.lista .btn-acao {
    width:45%;
    padding: 6px 0;
    border-radius: 8px;
    border: none;
    background-color: #f3f3f3;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    transition: 0.3s;
}

.btn-acao {
    width:35%;
    padding: 6px 0;
    border-radius: 8px;
    border: none;
    background-color: #f3f3f3;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    transition: 0.3s;
}

.btn-acao:hover {
    background-color: #ffdb82;
}



.kpi {
    background-color: #222222;
    border-radius: 12px;
    padding: 0; 
    overflow: hidden; 
}


/* conteudo kpi alertas */

.status_alertas{
    display: flex;
    margin: 0;
    justify-content: center;
}

.alertas .kpi-body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 0;
}
 
.alertas .kpi-body span{
   font-size: 40px;
}

.alertas .kpi-footer{
    margin-top: -12px;
}
/* conteudo lista */
.organizador_lista{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.pesquisa{
    margin-right: 5px;
    margin-top: 3px;
    display: flex;
    justify-content: right;
    background-color: white;
    color: black;
    width: 30%;
    height: 65%;
    border-radius: 12px;
    align-items: center;
    
}
.pesquisa img{
    width: 20px;
    height: 20px;
}
.estados_lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.estados_lista span{
margin: 0px 0px 0px 10px;
}


.lista .moderado{
    font-size: 14px;
    background-color: #bd953f;
    border-radius: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
}

.lista .risco{
    font-size: 14px;
    background-color: red;
    border-radius: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
}

.lista .kpi-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.lista .kpi-body div{
    padding: 0;
    margin: 0;
}

.lista .kpi-body p{
    padding: 2px;

}

/* kpi impacto */
.impacto .kpi-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.impacto .tudo{
    display: flex;
    flex-direction: row-reverse;
}

.impacto .importancia{
    font-size: 10px;
    margin-top: 30px;
}

.impacto .discos{
    font-size: 15px;
}

.impacto .listagem{
    margin-left: 10px;
    font-size: 13px;
}

.vida .kpi-header h2 {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.vida .kpi-header {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}


.vida .kpi-body{
justify-content: center;
display: flex;
flex-direction: row-reverse;
gap: 15px;
}

.vida .classificacao{
    font-size: 11px;
    margin-top: 15px;
}

.vida .discos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 25px;
    padding: 10px;
}

/* gráfico de linha */
.dashboards .chart2 .kpi-body {
    background: #1e1e1e;
    padding: 20px;

    border: 1px solid #444;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 100%;
    height: 90%;
}

#graficolinhas {
    width: 100%;
}

/* grafico barras  */



#graficobarras {
    width: 100%;
}

.dashboards .chart1 .kpi-body {
    background: #1e1e1e;
    padding: 20px;

    border: 1px solid #444;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 100%;
    height: 90%;
}

.chart1 .kpi-header h2 {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.chart1 .kpi-header {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}





