@import url("https://use.typekit.net/iom7tmt.css");

:root {
    --amarelo: #ffc64b;
    --amareloOpacityLow: #ffc64bb7;
    --cinza: #E2E1DE;
    --branco: #ffff;
    --preto: #000;
    --cinzaEscuro: #1c1c1c;
    --cinzaHeader: #222;
    --cinzaDash: #181818;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cinza);
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Header */

section.header .header-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: var(--cinzaHeader);
    padding: 20px 0;
    text-align: center;
}

section.header .header-left .parte-cima {
    padding: 40% 0;
}

section.header .header-left .parte-baixo {
    padding: 10% 0
}

section.header .header-left .icone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7% 0;
}

section.header .header-left .descricao-icone {
    color: var(--branco);
    align-content: center;
    padding: 0 10px;
}

section.header .header-left .icone img {
    height: 25px;
    width: auto;
    display: flex;
    padding: 0 15px;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a {
    width: 100%;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

section.header .header-left .icone a:hover {
    background-color: var(--amarelo);
    color: var(--preto);
    padding: 10px;
}

section.header .header-left .icone a:hover img {
    filter: brightness(0);
}

* { box-sizing: border-box; }


.container {
    margin-left: 230px;    
    width: calc(100% - 230px);
    height: 100vh;
    padding: 20px;
   
}


.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;            
    overflow: hidden;
    padding: 0;
}


.kpis { 
    display: grid;
    grid-template-columns: 30% 30% 35%;
    grid-template-rows: 140px 140px;
    gap: 24px;     
    width: 100%;
}


.lista { 
    grid-column: 3;
    grid-row: 1 / span 2;
}

.operacao { grid-column: 1; grid-row: 1; }
.alertas  { grid-column: 2; grid-row: 1; }
.impacto  { grid-column: 1; grid-row: 2; }
.vida     { grid-column: 2; grid-row: 2; }

.kpi {
    background-color: #222222;
    border-radius: 12px;
    padding: 12px;
}


.dashboards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 0;
    height: calc(100% -  (140px * 2) - 40px); 
    min-height: 220px;
}

.dashboard {
    background-color: #222222;
    width: 50%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.chart1{
    background-color: #222222;
    width: 45%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

/* conteudo operação */

.kpi {
    background-color: #222222;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #f3f3f3;
}

.kpi-header {
    background-color: #f3f3f3;
    padding: 10px 10px;
}

.kpi-header h2 {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.operacao .kpi-body {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.kpi-status-operacao{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 5px;
}


.kpi-body img {
    width: 60px;
    height: 60px;
}

.kpi-body h3 {
    font-size: 22px;
    font-weight: 700;
}

.kpi-footer {
   
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-acao {
    width:35%;
    padding: 6px 0;
    border-radius: 8px;
    border: none;
    background-color: #f3f3f3;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    transition: 0.3s;
}

.btn-acao:hover {
    background-color: #ffdb82;
}



.kpi {
    background-color: #222222;
    border-radius: 12px;
    padding: 0; 
    overflow: hidden; 
}


/* conteudo kpi alertas */
