@import url("https://use.typekit.net/iom7tmt.css");


:root{
    --amarelo: #FFC74BF6;
    --cinza: #E2E1DE;
    --branco:#ffff;
    --preto: #000;
}

*{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

}

header{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    width: 50%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 25rem;
}

.formulario{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 90%;
    border-radius: 0 15px 15px 0;

}

.texto{
    background-color: var(--amarelo);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 90%;
    border-radius: 15px 0 0 15px;

}

.texto h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

.texto p {
    font-size: 1.2rem;
    text-align: center;

}

.texto .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.texto button {
    cursor: pointer;
    border-radius: 15px;
    padding: 0.5rem;
    width: 40%;
    background-color: var(--amarelo);
}

.texto button:hover{
    transition: 0.5s;
    background-color: #eb8c3ea4;
}

.formulario h1{
    font-size: 2.2rem;
    font-weight: 600;
}


